name: TrillerAPI CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - nightly
      - 'releases/*'

jobs:
  Unit-Tests:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      - name: Run Tests
        env:
          triller_username: ${{ secrets.triller_username }}
          triller_password: ${{ secrets.triller_password }}
        run: pytest tests